


// animation de la page //

.fade-section-top {
  
  animation: fadeInTop 2s ease forwards;
}

.fade-section-bot {
    
    animation: fadeInBot 2s ease forwards;
}



.fade-title {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease forwards;
}

.fade-in-overlay {
  animation: fadeInOverlay 1.5s ease forwards;
}

.fade-out-overlay {
  animation: fadeOutOverlay 1.5s ease forwards;
}


// Animation titres au scroll //

.title-to-animate {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .wall {
    display: inline-block;
    overflow: hidden;

    .title-text {
      display: inline-block;
      opacity: 1;
      transform: translateY(150px);
      
    }

    &.word-1 .title-text{
      transition-delay: 0s;
    }

    &.word-2 .title-text{
      transition-delay: 0.5s;
    }
  }
}

.title-visible {
  .wall  .title-text {
      opacity: 1;
      transform: translateY(10px);
      transition: opacity 1s ease, transform 1s ease; 
  }
}







// Rotation de la fleurs hibiscus //

@keyframes rotateFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateFlowerReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-260deg);
  }
}


.story__article::after,
 #studio h2::before {                                   // class flower //
    animation: rotateFlower 20s linear infinite;
}

h2::after {
  animation: rotateFlowerReverse 30s linear infinite;
}


// Les keyframes //



@keyframes fadeInTop {
    0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBot {
    0% {
    opacity: 0;
    transform: translateY(+50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInOverlay {
    0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOutOverlay {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}


// hero //

.hero {
  position: relative;
  height: 100%;
  overflow: hidden;

  &__video-container {
    inset: 0;
    z-index: 0;

    .hero__video,
    .hero__fallback {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .hero__fallback {
      display: none;
    }
  }

  .banner {
    background-image: none !important;
    min-height: 427px; 
    background-size: contain !important; 

    
  }

  @media (max-width: 768px) {
    .hero__video-container {
      display: none;
    }

    .hero {
      height:48vh !important;
    }
    

  }
}

.hero__logo {
  position: absolute;
  top: 20%;
  left: 25%;
  
}



