
.banner { 
  background-image: none;
  background-size: cover;
  min-height: auto;
  
 
}

.banner img {
    margin-top: -48%;
}

.logo-hidden {
    display: none;
}

@keyframes floatXY {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(5px, -5px); }
  50%  { transform: translate(0, -10px); }
  75%  { transform: translate(-5px, -5px); }
  100% { transform: translate(0, 0); }
}

.float-logo {
  animation: floatXY 4s ease-in-out infinite;
}





@media (max-width: 768px) {
  

  .banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__logo {
      position: absolute;
      top: 35%;
      left: 15%;
      
  }

  .banner img {
      margin-top: -10%;
      width: 70%;
  }

  .logo-hidden {
       display: block;
       
  }

}

.characters {
  .swiper {
    width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start; 
    padding-left: 2rem; 
    
  }

  .swiper-wrapper {
    left: -350px;
    
    
  }

  .swiper-slide {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }
}

.characters {
  .title-characters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    margin-top: 5em;
    h3 {
      background-image: url('../images/orange_characters_bg.png'); 
      transform: translateX(130px);
      
     }
  }
}
.place-section {
  position: relative;

  .clouds-container {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    gap: 4rem;
    z-index: 1;

    .cloud {
      position: absolute;
      filter: blur(10px);
    }

    .cloud1 {
      top: 10%;
      left: 160%;
    }

    .cloud2 {
      top: 36%;
      left: 98%;
    }
  }

  
}

.story #place {
    background-image: url(../images/place_bg.png);
}

.burger-button {
  position: fixed;
  top: 2rem;
  right: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70px;
  height: 45px;
  background: transparent;
  border: none;
  cursor: pointer;

  span {
    height: 2px;
    background: #000000;
    border-radius: 3px;
    transition: 0.3s;
  }

  &.open {
    .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(3) {
      transform: rotate(-45deg) translate(10px, -8px);
    }
}}

.menu-overlay {
  position: fixed;
  background-color: #FFF5E9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  display: none;
  width: 1440px;
  height: 90%;
  transition: opacity 0.3s ease-in-out;
  top: 7rem;
  overflow: hidden
}

.menu-overlay.active {
  display: flex;
  z-index: 100;
}

.menu-overlay.closing {
  animation: fadeOutOverlay 0.5s ease forwards;
  pointer-events: none;
}

.menu-content {
  text-align: center;
  color: #FFF5E9;
  position: relative;
  
  ul {
    margin: 0;
  }
}

.entete {
  height: 100px;
  background-color: #FFD5A2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: relative;
  

  .site-title {
    text-decoration: none;
    font-size: larger;
    font-weight: 800;
  }

  &hover {
    color: black;
  }
}

.menu-links {

  li {
    margin: 5rem ;

    a {
      font-size: xx-large;
      text-decoration: none;

      &:hover {
        color: rgb(0, 0, 0);
        text-shadow:
        -1px -1px 0 orange,
         1px -1px 0 orange,
        -1px  1px 0 orange,
         1px  1px 0 orange;
    }
  }
}
}

.logo-overlay {
  width: 150px;
 
}

.rotating {
   background-size: cover;
   position: absolute;

  &.orchid {
    width: 100px;
    height: 100px;
    background-image: url(../images/orchid.png);
    top: -150px;
    left: -530px;
    animation: rotateFlower 20s linear infinite;
  }

  &.sunflower {
    width: 200px;
    height: 200px;
    background-image: url(../images/Sunflower.png);
    top: -92px;
    left: 504px;
    animation: rotateFlowerReverse 20s linear infinite;
  }

  &.flower {
    width: 75px;
    height: 75px;
    background-image: url(../images/flower.png);
    top: 200px;
    left: -250px;
    animation: rotateFlowerReverse 20s linear infinite;
  }

  &.random-flower {
    width: 75px;
    height: 75px;
    background-image: url(../images/random_flower.png);
    top: 200px;
    left: 900px;
    animation: rotateFlower 20s linear infinite;
  }

  &.hibiscus-footer {
    width: 500px;
    height: 500px;
    background-image: url(../images/hibiscus_footer.png);
    background-size: cover;
    top: 370px;
    left: 690px;
    position: absolute;
    animation: rotateFlower 20s linear infinite;
  }

}












  
@keyframes float-cat {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(9px, -9px); }
  50%  { transform: translate(0, -9px); }
  75%  { transform: translate(-9px, -9px); }
  100% { transform: translate(0, 0); }
}

@keyframes float-cat2 {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(-9px, 9px); }
  50%  { transform: translate(0, 9px); }
  75%  { transform: translate(9px, 9px); }
  100% { transform: translate(0, 0); }
}

.float-cat {
  background-size: cover;
  position: absolute;

  &.purple-cat {
    width: 120px;
    height: 120px;
    background-image: url(../images/purple-cat.png);
    top: -20px;
    left: -200px;
    animation: float-cat 3s ease-in-out infinite;
 }

 &.orange-cat {
    width: 100px;
    height: 80px;
    background-image: url(../images/orange-cat.png);
    top: 450px;
    left: -380px;
    animation: float-cat2 4s ease-in-out infinite;
 }

 &.black-cat {
    width: 120px;
    height: 120px;
    background-image: url(../images/black-cat.png);
    top: 250px;
    left: 600px;
    animation: float-cat2 4s ease-in-out infinite;
 }
}

  
 

 

 




