
.banner { 
  background-image: none;
  background-size: cover;
  
  
 
}

.banner img {
    margin-top: -48%;
}

.logo-hidden {
    display: none;
}

@keyframes floatXY {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(5px, -5px); }
  50%  { transform: translate(0, -10px); }
  75%  { transform: translate(-5px, -5px); }
  100% { transform: translate(0, 0); }
}

.float-logo {
  animation: floatXY 4s ease-in-out infinite;
}



@media (max-width: 768px) {
  

  .banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__logo {
      position: absolute;
      top: 35%;
      left: 15%;
      
  }

  .banner img {
      margin-top: -10%;
      width: 70%;
  }

  .logo-hidden {
       display: block;
       
  }

}

.characters {
  .swiper {
    width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start; 
    padding-left: 2rem; 
    
  }

  .swiper-wrapper {
    left: -350px;
    
    
  }

  .swiper-slide {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }
}

.characters {
  .title-characters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    margin-top: 5em;
    h3 {
      background-image: url('../images/orange_characters_bg.png'); 
      transform: translateX(130px);
      
     }
  }
}
.place-section {
  position: relative;

  .clouds-container {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    gap: 4rem;
    z-index: 1;

    .cloud {
      position: absolute;
      filter: blur(10px);
    }

    .cloud1 {
      top: 10%;
      left: 160%;
    }

    .cloud2 {
      top: 36%;
      left: 98%;
    }
  }

  
}

.story #place {
    background-image: url(../images/place_bg.png);
}

.burger-button {
  position: fixed;
  top: 2rem;
  right: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70px;
  height: 45px;
  background: transparent;
  border: none;
  cursor: pointer;

  span {
    height: 3px;
    background: #000000;
    border-radius: 3px;
    transition: 0.3s;
  }
}

.menu-overlay {
  position: fixed;
  background-color: #FFF5E9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  display: none;
  width: 1440px;
  height: 90%;
  transition: opacity 0.3s ease-in-out;
  top: 7rem;
}

.menu-overlay.active {
  display: flex;
}

.menu-content {
  text-align: center;
  color: #FFF5E9;
  position: relative;
  
  ul {
    margin: 0;
  }
}

.entete {
  height: 100px;
  background-color: #FFD5A2;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .site-title {
    text-decoration: none;
    font-size: larger;
    font-weight: 800;
  }

  &hover {
    color: black;
  }
}

.menu-links {

  li {
    margin: 5rem ;

    a {
      font-size: xx-large;
      text-decoration: none;

      &:hover {
        color: rgb(0, 0, 0);
        text-shadow:
        -1px -1px 0 orange,
         1px -1px 0 orange,
        -1px  1px 0 orange,
         1px  1px 0 orange;
    }
  }
}
}

.logo-overlay {
  width: 150px;
}

.rotating {
   animation: rotateFlower 20s linear infinite;
}

.rotatingReverse {
  animation: rotateFlowerReverse 20s linear infinite;
}

.flower1 {
    width: 100px;
    height: 100px;
    background-image: url(../images/orchid.png);
    background-size: cover;
    top: 10px;
    left: -300px;
    position: absolute;
  }

.flower2 {

    width: 200px;
    height: 200px;
    background-image: url(../images/Sunflower.png);
    background-size: cover;
    top: -92px;
    left: 504px;
    position: absolute;
}

.flower3 {

    width: 200px;
    height: 200px;
    background-image: url(../images/flower.png);
    background-size: cover;
    top: -92px;
    left: 504px;
    position: absolute;
}
  
  
 




